/* variables */
:root {
  --dark-violet: #854dce;
  --soft-violet: #a373dd;
  --dark-blue: #3d3d73;
  --very-dark-blue: #1a1a47;
  --soft-blue: #eff6fe;
  --white: #fff;
}

/* reset styles */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles */
html {
  font-size: 6.25%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16rem;
}

.button-contained {
  display: block;
  background-color: var(--dark-violet);
  color: var(--white);
  border-radius: 50px;
  padding: 11px 15px;
  font-size: 14rem;
  text-align: center;
}

.button-contained:hover {
  display: block;
  background-color: transparent;
  color: var(--dark-violet);
  border: 1px solid var(--dark-violet);
  border-radius: 50px;
  padding: 11px 15px;
  font-size: 14rem;
  text-align: center;
}

.button-outlined {
  display: block;
  color: var(--dark-violet);
  border: 1px solid var(--dark-violet);
  border-radius: 50px;
  padding: 11px 15px;
  font-size: 14rem;
  text-align: center;
}

.button-outlined:hover {
  display: block;
  background-color: var(--dark-violet);
  color: var(--white);
  border-radius: 50px;
  padding: 11px 15px;
  font-size: 14rem;
  text-align: center;
}

/* fonts */
h1 {
  font-size: 24rem;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-size: 24rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 18rem;
  text-align: center;
  margin-bottom: 10px;
}

.description {
  font-weight: 300;
  font-size: 14rem;
  margin-bottom: 30px;
  text-align: center;
}

/* mobile styles */

/* header */
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
}

.header-wrapper p {
  font-size: 20rem;
  font-weight: 700;
  color: var(--dark-violet);
}

.header-hamburger {
  background: url("../icons/icon-hamburger.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

/* hero */
.wrapper-hero {
  padding: 40px 30px;
}

.wrapper-hero img {
  display: block;
  margin: 0 auto;
}

.wrapper-hero h2 {
  text-align: center;
}

.wrapper-button .button-contained {
  margin-bottom: 17px;
}

/* services */
.wrapper-services {
  padding: 40px 30px;
}

.item-service {
  margin-bottom: 50px;
}

.img {
  background-color: var(--soft-blue);
  width: 90px;
  height: 90px;
  border-radius: 100px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-service img {
  width: 60%;
}

/* works */
.wrapper-works {
  padding: 0 30px;
}

.project-item {
  margin-bottom: 50px;
}

.img-project {
  background-color: #c4c4c4;
  width: 130px;
  height: 130px;
  margin: 0 auto;
}

.project-item .button-outlined {
  width: 50%;
  margin: 0 auto;
}

/* team */
.wrapper-team {
  padding: 40px 30px;
}

.team-item {
  margin-bottom: 50px;
}

.img-team {
  background: url("../img/img-people-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  margin: 0 auto;
}

.team-item h3 {
  margin-bottom: 5px;
}

.team-item p {
  text-transform: uppercase;
}

/* contact */
.contact {
  background-color: var(--soft-blue);
}

.wrapper-contact {
  padding: 50px 30px;
}

.wrapper-contact img {
  display: block;
  margin: 0 auto;
}

/* footer */
.footer {
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.wrapper-footer {
  padding: 50px 30px 20px;
  max-width: 350px;
  margin: 0 auto;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.facebook {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../icons/icon-facebook.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.twitter {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../icons/icon-twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.instagram {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../icons/icon-instagram.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.facebook:hover,
.twitter:hover,
.instagram:hover {
  filter: invert(33%) sepia(58%) saturate(1627%) hue-rotate(241deg)
    brightness(91%) contrast(87%);
}

.wrapper-footer .description {
  margin: 0;
}

@media screen and (min-width: 768px) {
  /* hero */
  .wrapper-hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .wrapper-hero h1,
  .wrapper-hero p {
    text-align: left;
  }

  .wrapper-hero img {
    width: 50%;
  }

  .hero__content {
    width: 40%;
  }

  .wrapper-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper-button .button-contained {
    margin: 0;
    width: 48%;
  }

  .wrapper-button .button-outlined {
    width: 48%;
  }

  /* services */
  .wrapper-services {
    display: flex;
    flex-wrap: wrap;
  }

  .wrapper-services h2 {
    width: 100%;
  }

  .wrapper-services p {
    width: 90%;
    margin: 0 auto 30px;
  }

  .services-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item-service {
    width: 40%;
    margin: 0;
  }

  /* works */
  .wrapper-works {
    display: flex;
    flex-wrap: wrap;
  }

  .wrapper-works h2 {
    width: 100%;
  }

  .wrapper-works p {
    margin: 0 auto 30px;
  }

  .project-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-item {
    width: 50%;
  }

  .project-item .description {
    width: 80%;
  }

  /* team */
  .wrapper-team {
    display: flex;
    flex-wrap: wrap;
  }

  .wrapper-team h2 {
    width: 100%;
  }

  .wrapper-team p {
    width: 80%;
    margin: 0 auto 30px;
  }

  .team-list {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .team-item {
    margin: 0 20px;
  }

  /* contact */
  .wrapper-contact {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .contact__content {
    width: 50%;
  }

  .contact__content .button-contained {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  /* header */
  .header {
    max-width: 900px;
    margin: 0 auto;
  }

  /* hero */
  .hero {
    max-width: 900px;
    margin: 0 auto;
  }

  /* services */
  .services {
    max-width: 900px;
    margin: 0 auto;
  }

  .services-list {
    flex-wrap: nowrap;
  }

  .item-service {
    margin: 0;
  }

  /* works */
  .works {
    max-width: 900px;
    margin: 0 auto;
  }

  .project-list {
    flex-wrap: nowrap;
  }

  /* contact */
  .wrapper-contact {
    max-width: 800px;
    margin: 0 auto;
  }

  .contact__content p {
    width: 70%;
    margin: 0 auto 30px;
  }

  .contact__content .button-contained {
    width: 50%;
  }
}
